@model SPISAP.Models.FilterViewModel

@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Gestión de Registros de Trabajadores</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a class="navbar-brand navbar-right">Usuario : @Session["USUARIO"].ToString() </a>
        </div>
      </div>
    </nav>

    <br><br>

    <div class="container">
        <div class="row">
		    <div class="span12">
			    <form class="form-horizontal" action="@Url.Action("Filter","Employee")" method="POST">
			        <div id="legend">
			          <legend class="">Filtro de Consulta de Trabajadores</legend>
			        </div>
			        <div class="control-group">
			          <!-- Username -->
			          <label class="control-label"  for="username">Ficha:</label>
			          <div class="controls">
			            <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
			          </div>
			        </div>
			        <div class="control-group">
			          <!-- Password-->
			          <label class="control-label" for="password">Cédula:</label>
			          <div class="controls">
			            <input type="password" id="cedula" name="password" placeholder="" class="input-xlarge">
			          </div>
			        </div>
			        <div class="control-group">
			          <!-- Password-->
			          <label class="control-label" for="password">Primer Apellido:</label>
			          <div class="controls">
			            <input type="password" id="primer_apellido" name="password" placeholder="" class="input-xlarge">
			          </div>
			        </div>
			        <div class="control-group">
			          <!-- Password-->
			          <label class="control-label" for="password">Nombres:</label>
			          <div class="controls">
			            <input type="password" id="nombres" name="password" placeholder="" class="input-xlarge">
			          </div>
			        </div>
                    <br>
                    <!-- BUTTONS -->
                    <div class="form-group">
                        <div class="col-md-2">
                            <button class="btn btn-success">Buscar</button>
                        </div>
                        <div class="col-md-offset-4 col-md-2">
                            <a class="btn  btn-success btn-md" href="@Url.Action("Create","Employee")">Agregar Nuevo Trabajador</a>
                        </div>
                    </div>
                    <!--// BUTTONS //-->
			    </form>
		    </div>
	    </div>
    </div>
