@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br>
    <h2>Prototipo V.0.4.3.</h2>
    <br>
    <div class="text-center">
        <a class="btn btn-default btn-success" href="@Url.Action("Create","Employee")" role="button">* Formulario de Ingreso Nuevo *</a>
    </div>
    <br>
</div>
