@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br>
    <h2>Prototipo V.0.4.3.</h2>
    <br>
    <div class="text-center">
        <a class="btn btn-default btn-success" href="@Url.Action("Create","Employee")" role="button">* Formulario de Ingreso Nuevo *</a>
    </div>
    <br>
    <div class="text-center">
        <a class="btn btn-default btn-success" href="@Url.Action("Table","Employee")" role="button">* Formulario de Tabla de Trabajadores *</a>
    </div>
    <br>
    <div class="text-center">
    <a href="@Url.Action("Edit", "Employee", new { id = 13139792 })" class="btn btn-default btn-success" >
        * Editar un Trabajador *
    </a>
    </div>
    <br>
    <div class="text-center">
    <a href="@Url.Action("Confirm", "Employee", new { id = 11681109 })" class="btn btn-default btn-success" >
        * Confirmar un Trabajador *
    </a>
    </div>
    <br>

</div>
