@if (Html.ViewData.ModelState.Count > 0)
{
    <br>
    <div class="container">
        <div class="alert alert-danger" role="alert">     
            <h5>El formulario no puede ser procesado, revise los siguientes campos e intente nuevamente :</h5>
            @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                <p>@modelError.ErrorMessage</p>
            }
        </div>
    </div>
    
    }
    
}
