@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container">
    <h2 class="error">Estimado Usuario</h2>
    <h2 class="error">Ha ocurrido una excepción en el aplicativo.</h2>
    <p style="font-size:10px;">
    @Model.Exception
    </p>
    <br>
    <div class="row text-center">
        <a class="btn btn-danger btn-md" href="@Url.Action("Logout","Home")">Reiniciar</a>
    </div>
</div>
